.myCard {
  max-width: 600px;

  margin: 0px auto 0px auto;
}

.card-title {
  font-family: "cr";
  color: #331b3f;
  margin-top: 10px;
  margin-left: 10px;
}

.card {
  border-radius: 10px;
  border-color: #9d9d9d;
  margin-bottom: 50px;
}

.card_btn_heart {
  background-color: white;
  border: 0;
  outline: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: small;
  margin-bottom: 20px;
}

.comments {
  margin-right: 0px;
  padding-right: 50px;
  list-style: none;
}
