<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>



    <title>Document</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/Layout_Posts/basic.css">
    <link rel="stylesheet" href="../static/Layout_Posts/header_Layout.css">
    <link rel="stylesheet" href="../static/Layout_Posts/header_Btn_logout.css">
    <link rel="stylesheet" href="../static/Layout_Posts/footer_Layout.css">
    <link rel="stylesheet" href="../static/Layout_Posts/section_Layout.css">
    <link rel="stylesheet" href="../static/Layout_Posts/post_Layout.css">

    <style>
        /* 외부 폰트 */
        @font-face {
            font-family: "cr";
            src: url("../static/fonts/cr.otf");
        }
    </style>

    <script>
        function sign_Out() {
            $.removeCookie("mytoken", { path: "/" });
            window.location.href = "/login";
        }

    </script>
</head>

<body>
    <!-- 상단 고정 fixed -->
    <div class="fixed">

        <!-- 상단 Header -->
        <header class="header">
            {{d1}}
            <!-- 로고 이미지 -->
            <img class="header_Logo" id="click_Logo"
                src="https://blogpfthumb-phinf.pstatic.net/MjAyMTA3MTZfMjM1/MDAxNjI2NDM5OTI4OTY1.2x609TV3FY7cLyh_Qh_AzL2_-pKwlVMn7xWlF3zq5H8g.pZwJumYC8UH4LRdqYKmVo0CzhmVzXKRHXKs6UYZw8Hkg.PNG.choibongae/pepe-licks-lips.png?type=w161"
                width="70px" height="70px">

            <!-- 로고 제목 -->
            <p id="header_LogoText"> &nbsp&nbsp 금주의 신상</p>

            <!-- 로그아웃 btn -->
            <button class="header_Logout" onclick="sign_Out()">로그아웃</button>

        </header>

    </div>

    <!-- 본문 -->
    <section class="section">

        <div class="myCard">
            <div class="row row-cols-1 row-cols-md-1 g-4 list_add">
                <div class="col">

                    <!-- 1 -->

                    <div class="card">

                        <!-- 제목 -->
                        <h5 class="card-title one_p"></h5>

                        <!-- 이미지 -->
                        <span class="one_src"></span>
                        <!-- like/dislike -->
                        <div class="card-body">
                            <div class="card_btn_heart">
                                <button class="like like1" onclick="like1_check()">
                                    <span class="like1_text">
                                        ❤️&nbsp좋아요 + 1 &nbsp
                                    </span>
                                </button>
                                <button class="dislike dislike1" onclick="dislike1_check()">
                                    <span class="dislike1_text">
                                        🤍&nbsp별로에요 - 1 &nbsp
                                    </span>
                                </button>
                            </div>

                            <!-- 댓글 내역 -->
                            <ul class="comment_List1">
                                <li class="comments">
                                    <span class="itemText"><b>ID</b>&nbsp&nbsp Hello World</span>
                                </li>
                            </ul>
                        </div>

                        <!-- 댓글 입력 -->
                        <div class="input-group">
                            <div class="input-group mb-3">
                                <span class="input-group-text input_id" id="basic-addon1">ID</span>
                                <input type="text" class="form-control comment_Input1" placeholder="댓글 달기..."
                                    aria-label="Username" aria-describedby="basic-addon1">
                                <button class="comment_btn comment_Add1" type="button"
                                    id="inputGroupFileAddon04">게시</button>
                            </div>
                        </div>
                    </div>

                    <!-- 2 -->

                    <div class="card">

                        <!-- 제목 -->
                        <h5 class="card-title two_p"></h5>

                        <!-- 이미지 -->
                        <span class="two_src"></span>

                        <!-- like/dislike -->
                        <div class="card-body">
                            <div class="card_btn_heart">
                                <button class="like like2" onclick="like2_check()">
                                    <span class="like2_text">
                                        ❤️&nbsp좋아요 + 1 &nbsp
                                    </span>
                                </button>
                                <button class="dislike dislike2" onclick="dislike2_check()">
                                    <span class="dislike2_text">
                                        🤍&nbsp별로에요 - 1 &nbsp
                                    </span>
                                </button>
                            </div>

                            <!-- 댓글 내역 -->
                            <ul class="comment_List2">
                                <li class="comments">
                                    <span class="itemText"><b>ID</b>&nbsp&nbsp Hello World</span>
                                </li>
                            </ul>
                        </div>

                        <!-- 댓글 입력 -->
                        <div class="input-group">
                            <div class="input-group mb-3">
                                <span class="input-group-text input_id" id="basic-addon1">ID</span>
                                <input type="text" class="form-control comment_Input2" placeholder="댓글 달기..."
                                    aria-label="Username" aria-describedby="basic-addon1">
                                <button class="comment_btn comment_Add2" type="button"
                                    id="inputGroupFileAddon04">게시</button>
                            </div>
                        </div>
                    </div>

                    <!-- 3 -->

                    <div class="card">

                        <!-- 제목 -->
                        <h5 class="card-title three_p"></h5>

                        <!-- 이미지 -->
                        <span class="three_src"></span>

                        <!-- like/dislike -->
                        <div class="card-body">
                            <div class="card_btn_heart">
                                <button class="like like3" onclick="like3_check()">
                                    <span class="like3_text">
                                        ❤️&nbsp좋아요 + 1 &nbsp
                                    </span>
                                </button>
                                <button class="dislike dislike3" onclick="dislike3_check()">
                                    <span class="dislike3_text">
                                        🤍&nbsp별로에요 - 1 &nbsp
                                    </span>
                                </button>
                            </div>

                            <!-- 댓글 내역 -->
                            <ul class="comment_List3">
                                <li class="comments">
                                    <span class="itemText"><b>ID</b>&nbsp&nbsp Hello World</span>
                                </li>
                            </ul>
                        </div>

                        <!-- 댓글 입력 -->
                        <div class="input-group">
                            <div class="input-group mb-3">
                                <span class="input-group-text input_id" id="basic-addon1">ID</span>
                                <input type="text" class="form-control comment_Input3" placeholder="댓글 달기..."
                                    aria-label="Username" aria-describedby="basic-addon1">
                                <button class="comment_btn comment_Add3" type="button"
                                    id="inputGroupFileAddon04">게시</button>
                            </div>
                        </div>
                    </div>

                    <!-- 4 -->
                    <div class="card">

                        <!-- 제목 -->
                        <h5 class="card-title four_p"></h5>

                        <!-- 이미지 -->
                        <span class="four_src"></span>

                        <!-- like/dislike -->
                        <div class="card-body">
                            <div class="card_btn_heart">
                                <button class="like like4" onclick="like4_check()">
                                    <span class="like4_text">
                                        ❤️&nbsp좋아요 + 1 &nbsp
                                    </span>
                                </button>
                                <button class="dislike dislike4" onclick="dislike4_check()">
                                    <span class="dislike4_text">
                                        🤍&nbsp별로에요 - 1 &nbsp
                                    </span>
                                </button>
                            </div>

                            <!-- 댓글 내역 -->
                            <ul class="comment_List4">
                                <li class="comments">
                                    <span class="itemText"><b>ID</b>&nbsp&nbsp Hello World</span>
                                </li>
                            </ul>
                        </div>

                        <!-- 댓글 입력 -->
                        <div class="input-group">
                            <div class="input-group mb-3">
                                <span class="input-group-text input_id" id="basic-addon1">ID</span>
                                <input type="text" class="form-control comment_Input4" placeholder="댓글 달기..."
                                    aria-label="Username" aria-describedby="basic-addon1">
                                <button class="comment_btn comment_Add4" type="button"
                                    id="inputGroupFileAddon04">게시</button>
                            </div>
                        </div>
                    </div>

                    <!-- 5 -->

                    <div class="card">

                        <!-- 제목 -->
                        <h5 class="card-title five_p"></h5>

                        <!-- 이미지 -->
                        <span class="five_src"></span>
                        <!-- like/dislike -->
                        <div class="card-body">
                            <div class="card_btn_heart">
                                <button class="like like5" onclick="like5_check()">
                                    <span class="like5_text">
                                        ❤️&nbsp좋아요 + 1 &nbsp
                                    </span>
                                </button>
                                <button class="dislike dislike5" onclick="dislike5_check()">
                                    <span class="dislike5_text">
                                        🤍&nbsp별로에요 - 1 &nbsp
                                    </span>
                                </button>
                            </div>

                            <!-- 댓글 내역 -->
                            <ul class="comment_List5">
                                <li class="comments">
                                    <span class="itemText"><b>ID</b>&nbsp&nbsp Hello World</span>
                                </li>
                            </ul>
                        </div>

                        <!-- 댓글 입력 -->
                        <div class="input-group">
                            <div class="input-group mb-3">
                                <span class="input-group-text input_id" id="basic-addon1">ID</span>
                                <input type="text" class="form-control comment_Input5" placeholder="댓글 달기..."
                                    aria-label="Username" aria-describedby="basic-addon1">
                                <button class="comment_btn comment_Add5" type="button"
                                    id="inputGroupFileAddon04">게시</button>
                            </div>
                        </div>
                    </div>

                    <!-- 6 -->

                    <div class="card">

                        <!-- 제목 -->
                        <h5 class="card-title six_p"></h5>

                        <!-- 이미지 -->
                        <span class="six_src"></span>
                        <!-- like/dislike -->
                        <div class="card-body">
                            <div class="card_btn_heart">
                                <button class="like like6" onclick="like6_check()">
                                    <span class="like6_text">
                                        ❤️&nbsp좋아요 + 1 &nbsp
                                    </span>
                                </button>
                                <button class="dislike dislike6" onclick="dislike6_check()">
                                    <span class="dislike6_text">
                                        🤍&nbsp별로에요 - 1 &nbsp
                                    </span>
                                </button>
                            </div>

                            <!-- 댓글 내역 -->
                            <ul class="comment_List6">
                                <li class="comments">
                                    <span class="itemText"><b>ID</b>&nbsp&nbsp Hello World</span>
                                </li>
                            </ul>
                        </div>

                        <!-- 댓글 입력 -->
                        <div class="input-group">
                            <div class="input-group mb-3">
                                <span class="input-group-text input_id" id="basic-addon1">ID</span>
                                <input type="text" class="form-control comment_Input6" placeholder="댓글 달기..."
                                    aria-label="Username" aria-describedby="basic-addon1">
                                <button class="comment_btn comment_Add6" type="button"
                                    id="inputGroupFileAddon04">게시</button>
                            </div>
                        </div>
                    </div>

                    <!-- 7 -->

                    <div class="card">

                        <!-- 제목 -->
                        <h5 class="card-title seven_p"></h5>

                        <!-- 이미지 -->
                        <span class="seven_src"></span>

                        <!-- like/dislike -->
                        <div class="card-body">
                            <div class="card_btn_heart">
                                <button class="like like7" onclick="like7_check()">
                                    <span class="like7_text">
                                        ❤️&nbsp좋아요 + 1 &nbsp
                                    </span>
                                </button>
                                <button class="dislike dislike7" onclick="dislike7_check()">
                                    <span class="dislike7_text">
                                        🤍&nbsp별로에요 - 1 &nbsp
                                    </span>
                                </button>
                            </div>

                            <!-- 댓글 내역 -->
                            <ul class="comment_List7">
                                <li class="comments">
                                    <span class="itemText"><b>ID</b>&nbsp&nbsp Hello World</span>
                                </li>
                            </ul>
                        </div>

                        <!-- 댓글 입력 -->
                        <div class="input-group">
                            <div class="input-group mb-3">
                                <span class="input-group-text input_id" id="basic-addon1">ID</span>
                                <input type="text" class="form-control comment_Input7" placeholder="댓글 달기..."
                                    aria-label="Username" aria-describedby="basic-addon1">
                                <button class="comment_btn comment_Add7" type="button"
                                    id="inputGroupFileAddon04">게시</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </section>

    <!-- 하단 -->
    <footer class="footer">
        <p> 항해99 9기 9조 웹개발 미니 프로젝트 / Create by 조병민, 박혜민, 정규재</p>
    </footer>



</body>

<script src="../static/js_Posts/btn_Comment.js"></script>
<script src="../static/Js_Posts/text_Src_crawling.js"></script>
<script src="../static/Js_Posts/header_logo.js"></script>
<script src="../static/js_Posts/like_dislike_check.js"></script>
<script src="../static/js_Posts/Logout.js"></script>

</html>